# Web Framework
fastapi
uvicorn[standard]
python-multipart

# AI & Machine Learning
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
transformers
sentencepiece
accelerate
openai
faster-whisper
# Audio Processing
numpy
pydub
soundfile
noisereduce

# Utilities
python-dotenv